{% if section.settings.heading != blank or section.settings.subheading != blank %}
  <header class="section__headings section__headings--reverse">
    {% if section.settings.heading != blank %}
      <h1 class="section__heading section__heading-ornament">{{ section.settings.heading }}</h1>
    {% endif %}
    {% if section.settings.subheading != blank %}
      <h2 class="section__subheading">{{ section.settings.subheading }}</h2>
    {% endif %}
  </header>
{% endif %}
