<section class="my-account__banner">
  <div class="my-account__container">
    <h3 class="my-account__heading">{{ 'liquid.views.my_account_page.header_your_profile' | translate }}</h3>
  </div>
</section>
