<section class="showcase section-height__medium
{% include 'section_utility_heading_alignment' %}" data-preview-item="showcase">
  <div class="showcase__container">
    {% include 'section_headings' %}
    <article class="section__content">
      {% if section.blocks != empty %}
        <ul class="showcase__list section__body">
          {% for block in section.blocks %}
            <li class="showcase__list-item">
              <img src="{{ block.settings.showcase_image }}" alt="{{ block.settings.showcase_name }}" title="{{ block.settings.showcase_name }}" class="img-responsive" />
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </article>
  </div>
</section>

<script>
$(window).load(function() {
  var isMobile = window.matchMedia("only screen and (max-width: 767px)"),
      logoCount = $('.showcase__list .showcase__list-item').length,
      $showcaseCarousel = $('.showcase__list').addClass('owl-carousel'),
      looped = (logoCount < 3) ? false : true,
      showcaseOwlOptions = {
        center: true,
        dots: true,
        loop: looped,
        margin: 0,
        nav: false,
        slideBy: 1,
        responsive: {
          0: {
            items: 1.5
          },
          500: {
            items: 3
          }
        }
      };
  if (isMobile.matches) {
    var showcaseOwlActive = $showcaseCarousel.owlCarousel(showcaseOwlOptions);
  } else {
    $showcaseCarousel.addClass('off');
  }
  $(window).resize(function() {
    if (isMobile.matches) {
      if ( $showcaseCarousel.hasClass('off') ) {
        var showcaseOwlActive = $showcaseCarousel.owlCarousel(showcaseOwlOptions);
        $showcaseCarousel.removeClass('off');
      }
    } else {
      if ( !$showcaseCarousel.hasClass('off') ) {
        $showcaseCarousel.addClass('off').trigger('destroy.owl.carousel');
        $showcaseCarousel.find('.owl-stage-outer').children(':eq(0)').unwrap();
      }
    }
  });
});
</script>

{% style %}

.showcase {
  {% include 'section_style_heading_alignment' %}
  {% include 'section_style_heading_ornament' %}

  {% if section.settings.section_padding_top %}
    .showcase__container {
      padding-top: 0;
    }
  {% endif %}

  {% if section.settings.section_padding_bottom %}
    .showcase__container {
      padding-bottom: 0;
    }
  {% endif %}
}

{% endstyle %}

{% schema %}
{
  "label":"Social proof: logos",
  "settings":[
    {
      "label":"Headings",
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":"Social proof: logos"
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
          "default":"Our courses have been featured in:"
        },
        {
          "type":"radio",
          "id":"heading_alignment",
          "label":"Alignment",
          "description":"",
          "default":"left",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        }
      ]
    },
    {
      "label":"Layout",
      "settings":[
        {
          "type":"checkbox",
          "id":"section_padding_top",
          "label":"Remove top section padding",
          "default":false
        },
        {
          "type":"checkbox",
          "id":"section_padding_bottom",
          "label":"Remove bottom section padding",
          "default":false
        }
      ]
    }
  ],
  "blocks":{
    "label":"Add logo",
    "limit":9,
    "types":[
      {
        "type":"showcase_item",
        "label":"Logo",
        "settings":[
          {
            "type":"text",
            "id":"showcase_name",
            "label":"Name",
            "description":"<small>Used for 'alt' & 'title' text. Recommended for accessibility.</small>"
          },
          {
            "type":"image",
            "id":"showcase_image",
            "label":"Image",
            "default":"https://cdn.thinkific.com/13/20180205/2fe50a485eaf445b855d83b153605d08.png"
          }
        ]
      }
    ],
    "defaults":[
      {
        "type":"showcase_item",
        "values":{
          "showcase_name":"",
          "showcase_image":"https://cdn.thinkific.com/13/20180222/76575d5ed8aa1a62a60f35f63ddc57dc.png"
        }
      },
      {
        "type":"showcase_item",
        "values":{
          "showcase_name":"",
          "showcase_image":"https://cdn.thinkific.com/13/20180222/a7584df8f4c6901a11dce18e844384bf.png"
        }
      },
      {
        "type":"showcase_item",
        "values":{
          "showcase_name":"",
          "showcase_image":"https://cdn.thinkific.com/13/20180222/c62d863f467a79a61807c82e03037867.png"
        }
      },
      {
        "type":"showcase_item",
        "values":{
          "showcase_name":"",
          "showcase_image":"https://cdn.thinkific.com/13/20180222/1a9a587f61667dd50d0ad1b7c5a3bc39.png"
        }
      },
      {
        "type":"showcase_item",
        "values":{
          "showcase_name":"",
          "showcase_image":"https://cdn.thinkific.com/13/20180222/76575d5ed8aa1a62a60f35f63ddc57dc.png"
        }
      }
    ]
  }
}
{% endschema %}
