{% comment %}
  This is the card representation of your course categories.
{% endcomment %}
<a class="course-category-card" href="{{ collection.url }}" tabindex="0">
  {% if collection.image.medium != blank %}
  {% assign category_image = collection.image.medium %}
  {% else %}
  {% assign category_image = collection.image.original %}
  {% endif %}
  <header class="course-category-card__img-container">
    <img class="course-category-card__img" src="{{ category_image }}" alt="{{ collection.name }}" />
    {% if section.settings.show_category_name %}
      <h3>{{ collection.name }}</h3>
    {% endif %}
  </header>
</a>
